.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 50px;
	background: #ccc;
	padding: 0 4rem;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 13rem;
}
